.cabecalho {
    align-items: center;
    display: grid;
    grid-template-columns: 50px repeat(3, auto);
    padding: 1.5em .5em;
}

.icone {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cabecalho__foto-perfil {
    cursor: pointer;
    width: 35px;
}