.cabecalho {
    align-items: center;
    display: grid;
    grid-template-columns: 50px repeat(3, auto);
    padding: 1.5em .5em;
}

.icone {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cabecalho__carrinho {
    position: relative;
}

.carrinho__quantidade-produtos {
    color: var(--branco);
    background-color: var(--laranja);
    border-radius: 100%;
    display: none;
    font-size: 9px;
    padding: 3px;
    position: absolute;
    right: 17px;
    top: -4px;
}

.cabecalho__foto-perfil {
    cursor: pointer;
    width: 35px;
}