@media screen and (min-width: 1440px) {
    dialog {
        background-color: transparent;
        border: none;
        padding: 3em 0;
    }

    dialog::backdrop {
        background: rgba(0, 0, 0, 0.7);
    }

    .dialog__sair {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }

    .dialog__imagem {
        margin-bottom: 2.5em;
    }

    .dialog__seta {
        background-color: var(--branco);
        border-radius: 100%;
        cursor: pointer;
        padding: 19px 21px;
        position: absolute;
        top: 36%;
        transition: all .3s;
    }

    .dialog__item {
        cursor: pointer;
    }
}