.lateral {
    background-color: var(--branco);
    box-sizing: border-box;
    height: 100vh;
    left: -9999px;
    padding: 1.5em 2em 0;
    position: absolute;
    top: 0;
    transition: all 1s;
    width: 60vw;
    z-index: 999999999;
}

.lateral-ativo {
    left: 0;
    transition: left .5s;
}

.lateral__sair {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-bottom: 3.5em;
}

.menu-navegacao__lista-links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.menu-navegacao__link {
    color: var(--preto);
    cursor: pointer;
    font-weight: var(--font-weight-700);
    text-decoration: none;
}

.menu-navegacao__link:hover,
.menu-navegacao__link:active {
    text-decoration: underline;
}

@media screen and (min-width: 1440px) {
    .lateral {
        align-self: center;
        grid-area: menu-nav;
        padding: 0;
        height: auto;
        position: initial;
        width: auto;
    }

    .menu-navegacao__lista-links {
        flex-direction: row;
        column-gap: 3em;
    }

    .menu-navegacao__link {
        color: #a3a8b1;
        font-size: 20px;
        padding-bottom: 2.7em;
    }

    .menu-navegacao__link:hover {
        border-bottom: 5px solid var(--laranja);
    }
}