.principal__produto {
    position: relative;
}

.produto__seta {
    background-color: var(--branco);
    border-radius: 100%;
    cursor: pointer;
    padding: 11px 13px;
    position: absolute;
    top: 20%;
    transition: all .3s;
}

.produto__seta:hover {
    background-color: rgba(209, 209, 209, 0.795);
}

.produto__seta:active {
    background-color: rgb(161, 160, 160);
}

.seta-esquerda {
    left: 0;
    margin-left: 1em;
}

.produto__imagem {
    width: 100vw;
}

.seta-direita {
    margin-right: 1em;
    right: 0;
}

.produto__corpo {
    width: 85vw;
    margin: auto;
}

.produto__subtitulo {
    color: var(--laranja);
    font-weight: var(--font-weight-700);
    margin: 1em 0;
    text-transform: uppercase;
}

.produto__titulo {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2em;
}

.produto__descricao {
    color: rgb(104, 112, 125);
    line-height: 1.5em;
    margin: 1.3em 0;
}

.produto__precos {
    align-items: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr;
}

.produto__preco-descontado {
    font-size: 30px;
    font-weight: 700;
    margin-right: .5em;
}

.produto__desconto {
    background-color: rgb(255, 237, 224);
    border-radius: 5px;
    color: var(--laranja);
    font-weight: var(--font-weight-700);
    padding: .4em;
}

.produto__preco-normal {
    color: hsl(220, 14%, 75%);
    justify-self: end;
    text-decoration: line-through;
    font-weight: var(--font-weight-700)
}

.produto__quantidade {
    background-color: rgb(247, 248, 253);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    padding: 1em;
}

.produto__modificador {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.quantidade {
    background-color: transparent;
    border: none;
    text-align: center;
}

.quantidade::-webkit-inner-spin-button, .quantidade::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.produtos__adicionar-carrinho {
    align-items: center;
    background-color: var(--laranja);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(70, 69, 69, 0.534);
    cursor: pointer;
    display: flex;
    justify-content: center;
    left: 50%;
    margin-bottom: 1em;
    padding: 1em;
    transition: all .3s ease-in-out;
    width: 100%;
}

.produtos__adicionar-carrinho:hover {
    background-color: rgb(241, 107, 11);
}

.produtos__adicionar-carrinho:active {
    background-color: rgba(204, 90, 9, 0.932);
}

.produtos__adicionar-carrinho i {
    margin-right: 10px;
}

.adicionar-carrinho__texto {
    color: var(--branco);
}

@media screen and (min-width: 1440px) {
    .principal {
        margin: 10em;
    }

    .principal__produto {
        box-sizing: border-box;
        column-gap: 5em;
        display: grid;
        grid-template-areas:
            "imagem corpo"
        ;
        grid-template-columns: 500px 1fr;
    }

    .produto__imagem {
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgba(70, 69, 69, 0.281);
        grid-area: imagem;
        width: 500px;
    }

    .produto__seta {
        display: none;
    }

    .produto__corpo {
        align-items: center;
        display: grid;
        grid-area: corpo;
        grid-template-areas:
            "subtitulo subtitulo subtitulo"
            "titulo titulo titulo"
            "descricao descricao descricao"
            "precos precos precos"
            "input input botao"
        ;
        grid-template-columns: 1fr 2fr 3fr;
        row-gap: 15px;
        width: 100%;
    }

    .produto__subtitulo {
        font-size: 18px;
        grid-area: subtitulo;
    }

    .produto__titulo {
        font-size: 45px;
        grid-area: titulo;
    }

    .produto__descricao {
        font-size: 20px;
        grid-area: descricao;
    }

    .produto__precos {
        display: grid;
        grid-template-columns: auto 2fr;
        grid-template-rows: 1fr 1fr;
        grid-area: precos;
    }

    .produto__preco-descontado {
        font-size: 40px;
    }

    .produto__desconto {
        font-size: 25px;
        margin-right: auto;
    }

    .produto__preco-normal {
        justify-self: left;
        font-size: 20px;
    }

    .produto__quantidade {
        grid-area: input;
        margin: 0 1em 0 0;
        width: auto;
    }

    .quantidade {
        font-size: 18px;
        font-weight: var(--font-weight-700);
        max-width: 150px;
    }

    .produtos__adicionar-carrinho {
        grid-area: botao;
        margin-bottom: 0;
        width: auto;
    }

    .adicionar-carrinho__texto {
        font-size: 20px;
    }
}