/* Variáveis de estilos gerais */
:root {
    /* Fontes */
    --font-family: 'Kumbh-sans';
    --font-weight-400: 400;
    --font-weight-700: 700;
    --font-size: 16px;
    /* Cores */
    --fundo-cabecalho: #FFFFFF;
    --branco: #FFFFFF;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-400);
    width: 100vw;
}
