.cabecalho {
    align-items: center;
    display: grid;
    grid-template-columns: 50px repeat(3, auto);
    padding: 1.5em .5em;
}

.icone {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cabecalho__carrinho {
    position: relative;
}

.carrinho__quantidade-produtos {
    color: var(--branco);
    background-color: var(--laranja);
    border-radius: 100%;
    display: none;
    font-size: 9px;
    padding: 3px;
    position: absolute;
    right: 17px;
    top: -4px;
}

.cabecalho__foto-perfil {
    cursor: pointer;
    width: 35px;
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        align-items: center;
        border-bottom: 1px solid #a3a8b1;
        grid-template-areas:
        "logo menu-nav carrinho perfil"
        ;
        grid-template-columns: 220px auto 3fr 1fr;
        margin: 0 7em;
        padding: 2.5em 0 2.5em;
    }

    .cabecalho__titulo {
        grid-area: logo;
    }

    .cabecalho__carrinho {
        justify-self: end;
        grid-area: carrinho;
    }

    .cabecalho__foto-perfil {
        box-sizing: border-box;
        justify-self: end;
        grid-area: perfil;
        width: 60px;
    }

    .cabecalho__foto-perfil:hover,
    .cabecalho__foto-perfil:active {
        border: 2px solid var(--laranja);
        border-radius: 50%;
    }

    .cabecalho__menu-hamburguer, .lateral__sair {
        display: none;
    }

    .menu-navegacao__link {
        font-size: 22px;
    }

    .carrinho__quantidade-produtos {
        font-size: 12px;
        right: 3px;
    }
}